@font-face {
  font-family: "Amatica";
  src: url("./fonts/AmaticaSC-Bold.ttf");
}

body {
  background-color: #dfd3c3;
  font-family: "Amatica";

  padding: 0;
}
a:hover {
  text-decoration: none;
}

.comp-text {
  margin-top: 3%;
  text-align: right;
}

footer {
  position: block;
  width: 100%;
  color: #8c5340;
  font-size: 0.7em;
  text-align: center;
  bottom: 0;
}
.copyright {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.back {
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
  padding: 3%;
  color: black;
  font-size: 1.4rem;
  margin-bottom: 8%;
}
.back:hover {
  background-color: #8c5340;
  color: #dfd3c3;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;
}
.header img {
  width: 100%;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-link {
  width: 75%;
  font-size: 7.25vw;
  font-weight: 600;
  border: 1px solid black;
  margin: 1% auto;

  cursor: pointer;
  color: #8c5340;
  text-align: center;
  line-height: 1;
}
.nav-link:hover {
  background-color: #8c5340;
  color: #dfd3c3;
}

.comp-text {
  font-size: 1.4rem;
  padding: 5% 10%;
  line-height: 1.1;
}

.logo {
  font-size: 1.8rem;
  margin-bottom: 2%;
}
.nav-link {
  padding: 2%;
}

@media screen and (min-width: 480px) {
  .header img {
    width: 59%;
    margin: 0 auto;
  }
  .nav-link {
    width: 75%;
    font-size: 5.3vw;
    padding: 1% 0;
  }
  h1 {
    font-size: 3rem;
    margin-top: 2%;
  }
  .comp-text {
    font-size: 1.73rem;
    padding: 2% 10%;
    line-height: 1.1;
  }
  .copyright {
    font-size: 0.8rem;
  }
  .logo {
    font-size: 2rem;
  }
  .back {
    padding: 1.3%;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .header img {
    width: 59%;
    margin: 0 auto;
  }
  .nav-link {
    width: 75%;
    font-size: 5.3vw;
    padding: 1% 0;
  }
  h1 {
    font-size: 3rem;
    margin-top: 3%;
  }
  .comp-text {
    font-size: 2rem;
    padding: 2% 10%;
    line-height: 1.1;
  }
  .copyright {
    font-size: 0.8rem;
  }
  .logo {
    font-size: 2rem;
  }
  .back {
    padding: 1.3%;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 825px) {
  .header img {
    width: 45%;
    margin: 0 auto;
  }
  .nav-link {
    font-size: 3.5vw;
  }
  .nav-link {
    font-size: 1.9vw;
  }
}
@media screen and (min-width: 1024px) {
  .header img {
    width: 32%;
    margin: 0 auto;
  }
  .nav-link {
    font-size: 1.9vw;
  }
  h1 {
    font-size: 3rem;
    margin-top: 3%;
  }
  .comp-text {
    font-size: 3rem;
    padding: 4% 10%;
    line-height: 1.1;
  }
  .copyright {
    font-size: 0.8rem;
  }
  .logo {
    font-size: 2rem;
  }
  .back {
    padding: 1.3%;
    font-size: 1.6rem;
  }

  .comp-text {
    font-size: 2rem;
    padding: 2% 10%;
    line-height: 1;
  }
}

@media screen and (min-width: 1310px) {
  .header img {
    width: 20%;
    margin: 0 auto;
  }
  .nav-link {
    font-size: 1.5vw;
  }
  h1 {
    font-size: 4rem;
  }
  .comp-text {
    font-size: 2rem;
    padding: 2% 10%;
    line-height: 1;
  }
  .back {
    margin-bottom: 1%;
    padding: 1%;
    font-size: 1.4rem;
  }
  .logo {
    font-size: 3rem;
  }
  .copyright {
    font-size: 0.8rem;
  }
}
