body {
  background-color: #dfd3c3;
}

@font-face {
  font-family: "amatica";
  src: url(fonts/AmaticaSC-Bold.ttf) format("bold"),
    url(fonts/AmaticaSC-Regular.ttf) format("regular");
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.header img {
  width: 63vmin;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-link {
  width: 75%;
  font-weight: 600;
  border: 1px solid black;
  margin: 1% auto;
  cursor: pointer;
  color: #a3423c;
  text-align: center;
}
.nav-link:hover {
  background-color: #ae431e;
  color: #dfd3c3;
}

.about-txt {
  line-height: 1.8;
  padding: 0 15%;
}
